<!DOCTYPE html>

<head>
	<title>Handling of http get and post request</title>
	<!-- <style>
		div {
			width: 400px;
			border: 1px solid green;
			padding: 10px;
			margin-bottom: 5px;
		}
    
	</style> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>

<body>
	<form method="POST">
		<div id="prompt">
			<label for="prompt">Your prompt:</label>
			<input id="prompt" name="text"></input>
		</div>
		<div class="button">
			<button type="submit">submit</button>
		</div>
	</form>
</body>

